@charset "utf-8";
/* CSS Document */


body.js #accordion ul { display: none;}

#accordion {clear: both; width:570px;  color: #5e5e5e; border-bottom: 1px solid #e5e5e5; margin-bottom: 20px;}

#accordion a {display:block; text-decoration:none;}
#accordion ul {}

#accordion li {}
#accordion li li { padding-bottom: 20px; margin-left: 20px;}

#accordion li a {background: url(../images/ic_plus.png) no-repeat 0 10px; padding:8px 0 0 20px; display:block; height:25px; border-top: 1px solid #e5e5e5; color: #27292c; font-weight: bold;}
#accordion li a.closed {background: url(../images/ic_plus.png) no-repeat 0 10px !important;}
#accordion li a.opened {background: url(../images/ic_minus.png) no-repeat 0 10px; color: #4a88db;}

